.footer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(236, 236, 236);    
}
.footer-text{
    font-size: 15px;
    letter-spacing: 3px;
}